<div class="page-header">
  <h2>Choose mode</h2>
  <p><b>Directory:</b> <span class="label label-default"><%= Dir.pwd %></span></p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">T-node</h3>
      </div>
      <div class="panel-body">
<!--    <div class="col-md-6">-->
        <table class="table table-condensed">
          <tbody>
            <tr>
             <td><a href="/tnode"><span class="label label-primary">T-NODE manager</span></a></td>
            </tr>
            <tr>
             <td><a href="/tnode/install"><span class="label label-default">T-NODE installation</span></a></td>
            </tr>
          </tbody>
        </table>
<!--    </div>-->
      </div>
    </div>
  </div><!-- /.col-sm-4 -->

  <div class="col-sm-6">
<!--    <div class="panel panel-default"> -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">S-node</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><a href="/snode">S-NODE manager</a></li>
          <li><a href="/snode/install">S-NODE installation</li>
        </ul>
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
</div>
