<div class="page-header">
<h2>Choose mode</h2>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">T-node</h3>
      </div>
      <div class="panel-body">
<!--    <div class="col-md-6">-->
        <ul>
          <li>Entrar en T-NODE</li>
          <li>Instalar Teuton</li>
        </ul>
<!--    </div>-->
      </div>
    </div>
  </div><!-- /.col-sm-4 -->

  <div class="col-sm-6">
<!--    <div class="panel panel-default"> -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">S-node</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Entrar en S-node</li>
          <li>Instalar SSH</li>
        </ul>
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
</div>
