<div class="page-header">
  <h2>Choose mode</h2>
  <p><b>Directory:</b> <span class="label label-default"><%= Dir.pwd %></span></p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">T-node</h3>
      </div>
      <div class="panel-body">
<!--    <div class="col-md-6">-->
        <p>
          <a href="/tnode">
            <span class="label label-primary">T-NODE manager</span>
          </a>
        </p>
        <p><b>NOTES:</b></p>
        <ul>
          <li>Teuton installed on this machine.</li>
          <li>T-Node user monitotize S-Node machines.</li>
        </ul>
<!--    </div>-->
      </div>
    </div>
  </div><!-- /.col-sm-4 -->

  <div class="col-sm-6">
<!--    <div class="panel panel-default"> -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">S-node</h3>
      </div>
      <div class="panel-body">
        <p>
          <a href="/snode">
            <span class="label label-primary">S-NODE manager</span>
          </a>
        </p>
        <p><b>NOTES:</b></p>
        <ul>
          <li>SSH server installed.</li>
          <li>SSH user/password is required by teacher (T-Node user).</li>
        </ul>
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
</div>
